<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./styles.css">
    <style>
            html body {
                padding: 0px;
                margin: auto;
            }
            .day {
                float: left;
                width: 200px;
                background-color: #fff7f2;
                height: 90vh;
                margin: 10px;
                padding: 10px;
            }
            #cal {
                margin: auto;
                width: 80vw;
                height: 100vh;
                align-items: center;
            }
    </style>
</head>
<body>
    <div id="cal">
        <div class="day">
            <h2>Monday</h2>
            {{ range $i, $value := . }}
            <h4>{{ $value.Name }}</h4>
            {{ end }}
        </div>

        <div class="day">
            <h2>Tuesday</h2>
            {{ range $i, $value := . }}
            <h2>{{ $value.Name }}</h2>
            {{ end }}
        </div>

        <div class="day">
            <h2>Wednesday</h2>
            {{ range $i, $value := . }}
            <h2>{{ $value.Name }}</h2>
            {{ end }}
        </div>

        <div class="day">
            <h2>Thursday</h2>
            {{ range $i, $value := . }}
            <h2>{{ $value.Name }}</h2>
            {{ end }}
        </div>

        <div class="day">
            <h2>Friday</h2>
            {{ range $i, $value := . }}
            <h2>{{ $value.Name }}</h2>
            {{ end }}
        </div>
    </div>
</body>
</html>